<div class="prof-main">
  <div class="top-half"></div>
  <div class="bottom-half">
    <div class="middle-half">
      <div class="middle-half-header-wrap">
        <div class="middle-half-header">User Settings</div>
        <div class="middle-half-tabs">
            <div class="tab">
                <button id="defaultOpen" class="tablinks" (click)="showTabContent($event, 'Profile')">Profile</button>
                <button class="tablinks" (click)="showTabContent($event, 'Email')">Email</button>
                <button class="tablinks" (click)="showTabContent($event, 'Phone')">Phone</button>
                <button class="tablinks" (click)="showTabContent($event, 'Password')">Password</button>
                <button class="tablinks" (click)="showTabContent($event, 'Security')">Security</button>
            </div>
          </div>
            <div id="Profile" class="tabcontent">
                <form>
                    <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" id="firstName" required>
                    </div>

                    <div class="form-group">
                        <label for="middleName">Middle Name (Optional)</label>
                        <input type="text" class="form-control" id="middleName">
                      </div>
               
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" id="lastName">
                    </div>
               
                    <div class="button-holder"><button type="submit" id="update-button">Update</button></div>
               
                  </form>
            </div>
              
              <div id="Email" class="tabcontent">
                <h3>Look At Me!</h3>
                <p>I'm another tab.</p> 
              </div>
      </div>
    </div>
  </div>
</div>
