@import url('https://fonts.googleapis.com/css?family=Lato');

.prof-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.top-half {
    height: 10em;
    background-color: 	#3060a8;
    width: 100%;
}

.middle-half-header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 10em; */
}

.middle-half {
    height: 60vh;
    width: 55vw;
    /* background-color: yellow; */
    z-index: 10;
    justify-content: center;
    align-content: center;
    margin-bottom: 10em;
    /* border: 2px solid red; */
}

.middle-half-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6em;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 18px;
    margin-bottom: -37px;
}

.middle-half-tabs {
    /* height: 4em; */
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 35px;
    margin-top: 2px;
}

.tabcontent {
    display: flex;
    flex-direction: column;
    height: 20vh;
    /* flex-grow: 1; */
}

.bottom-half {
    display: flex;
    justify-content: space-around;
    margin-top: -10em;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #27508D;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
    color: black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: white;
    color: black;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    height: 100%;
    background-color: white;
    margin-top: -35px;
    font-family: 'Lato', sans-serif;
    min-height: 32em;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

  .button-holder {
      display: flex;
      justify-content: space-around;
      margin-top: 3em;
      margin-bottom: 4em;
  }

  #update-button {
    height: 60px;
    width: 11em;
    background: #30c078;
    border: 0;
    color: white;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }

  .former-form {
      margin-top: 5em;
      margin-left: 2em;
      width: 80%;
  }

  .form-group {
      margin-bottom: 1em;
  }