<div class="main">
  <div class="nav-left">
    <img src="assets/logo.png" class="logo-image" />
  </div>
  <div class="nav-center">
    <ul>
      <li><a href="default.asp">Overview</a></li>
      <li><a href="news.asp">Metrics</a></li>
      <li><a href="contact.asp">Affiliates</a></li>
      <li><a href="about.asp">Tools</a></li>
      <li><a href="about.asp">Account</a></li>
      <li><a href="about.asp">Reports</a></li>
      <li><a href="about.asp">Support</a></li>
    </ul>
  </div>
  <div class="nav-right"></div>
</div>
