@import url('https://fonts.googleapis.com/css?family=Lato');

.main {
    display: flex;
    align-items: center;
    background-color: #184878;
    height: 3em;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.logo-image {
    height: 20px;
    margin-left: 1em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  li a:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }